nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

nav h2 {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  color: black;
}

.logo-title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

nav ul li {
    font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav ul li a:hover {
  color: #0070f3; /* Next.js blue */
}

.resume-button {
  background-color: black;
  color: white;
  padding: 1rem 1.8rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 550;
}

.resume-button:hover {
  background-color: #333;
}
